.service-img {
  height: 40px;
}

.main-services-container {
  overflow: hidden;
  background: #ffffff; /* Semi-transparent background */
  transition: box-shadow 0.3s, transform 0.3s;
  border: 1px solid #e0e0e0; /* Light border for definition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  color: #333; /* Text color */
  width: 350px;
  height: 250px;
  border-radius: 14px;
  text-align: start;
  padding: 32px;
}
.main-services-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.service-card-heading {
  font-weight: 500;
  margin-top: 10px;
}
.service-text {
  margin-top: 5px;
  color: #818181;
  
}
