.portfolio{
    min-height: 900px;
    width: 100%;
    background-image: url("../assets/Hero_BG2.png");
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
}
.portfolioImgSection{
    height: 800px;
}
.portfolioImg{
    width: 100%;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.portfolioImg img{
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
}

.portfolioImgContainer{
    margin: 5px;
}

.portfolioItem
{
    position: absolute;
    top: 120%;
    
    width: 100%;
    text-align: center;
    background-color: #579afeaf;
    height: 20%;
    visibility: hidden;
    transition: top 0.8s ease-in-out;
    font-size: 25px;
        color: white;
        font-style: "Outfit";
}

.portfolioImg:hover .portfolioItem{
    top: 80%;
    visibility: visible;
    transition: top 0.8s ease-in-out ;
}

.portfolioImg:hover img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
