.service-container
{
    min-height:800px;
    background-image: url("../assets/Hero_BG2.png");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
.card-container
{
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: space-evenly;
  
}
.service-heading
{
    text-align: center;
    font-weight: 500;
    font-size: 45px;
}

.sectionHeading{
    margin: auto;
    font-size: 25px;
    color: #2d80fe;
    font-weight: 200px;
    text-align: center;
}

.sectionBullet{
    width: 5px;
        height: 5px;
        background-color: #2d80fe;
        border-radius: 50%;
        box-shadow: 0 0 5px 3px #6ba6ff;
}


@media (max-width: 768px) {
    .service-container {
        height: auto; /* Adjust height for smaller screens */
    }
    .main-services-container {
        width:100%;
        text-align: justify;
    }
    
}
